{% load static %}
<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
<div class="login">
  <div class="login-header">
    <h1>Login</h1>
  </div>
    <form action="" method="post">
        {% csrf_token%}
  <div class="login-form">
    <h3>Username:</h3>
    <input type="text" placeholder="Username" , name="username" required/><br>
    <h3>Password:</h3>
    <input type="password" placeholder=" Password", name="password" required/>
    <br>
    <input type="submit"/>
    <br>
  </div>
    </form>
    <div class="message">
        {% for message in messages%}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
   </div>
</body>

</html>