body {
background-color: #FAD961;
background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
  margin:0px;
  font-family: 'Ubuntu', sans-serif;
	background-size: 100% 110%;
}
h1, h2, h3, h4, h5, h6, a {
  margin:0; padding:0;
}
.login {
  margin:0 auto;
  max-width:500px;
}
.login-header {
  color:#fff;
  text-align:center;
  font-size:300%;
   line-height:2em;
}
 /*.login-header h1 {
   text-shadow: 0px 5px 15px #000;
   */
}
.login-form {
  border:.5px solid #fff;
  background:#4facff;
  border-radius:10px;
  box-shadow:0px 0px 10px #000;
}
.login-form h3 {
  text-align:left;
  margin-left:40px;
  color:#fff;
}
.login-form {
  box-sizing:border-box;
  padding-top:15px;
	padding-bottom:10%;
  margin:5% auto;
  text-align:center;
}
.message{
 text-align:center;
 color:red;
 font-family: 'Ubuntu', sans-serif;
}
.login input[type="text"],
.login input[type="email"],
.login input[type="password"]{
  max-width:400px;
	width: 80%;
  line-height:3em;
  font-family: 'Ubuntu', sans-serif;
  margin:1em 2em;
  border-radius:5px;
  border:2px solid #f2f2f2;
  outline:none;
  padding-left:10px;
}
.login-form input[type="button"] {
  height:30px;
  width:100px;
  background:#fff;
  border:1px solid #f2f2f2;
  border-radius:20px;
  color: slategrey;
  text-transform:uppercase;
  font-family: 'Ubuntu', sans-serif;
  cursor:pointer;
}


/*Media Querie*/
@media only screen and (min-width : 150px) and (max-width : 530px){
  .login-form h3 {
    text-align:center;
    margin:0;
  }
  .sign-up, .no-access {
    margin:10px 0;
  }
  .login-button {
    margin-bottom:10px;
  }
}
.logout-bt{
 margin-left:85%;
 font-size:22px;
}
.name{
   margin-left:5%;
   margin-top:3%;
   font-family:sans-serif;
   font-size:35px
}
.searchbox {

  width: 30%;
  margin-top:6%;
  margin-left:30%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.result{
margin-top:3%;
text-align:center;
}

.home{
  margin-top:10%;
  color:#fff;
  text-align:center;
  font-size:300%;
  line-height:2em;
}

.list{
 font-family: 'Ubuntu', sans-serif;
 color:red;
}